@import "./_reset.scss";

$main-color: #ff0000;

.red {
  color: $main-color;
}

@mixin alert() {
  background: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  p {
    margin-bottom: 0px;
  }
}

.my-alert {
  @include alert();
}

.my-alert-red {
  @extend .my-alert;
}
